@import './Scss/fonts',
		'./Scss/root',
		'~normalize.css/normalize.css',
		'./Scss/helpers';


html,
body {
	background: linear-gradient(to right, $light-blue, $dark-blue);
	color: $text-color;
	font-family: $fontFamily;
}

*,
:after,
:before { box-sizing: border-box }

::selection {
	background: #000;
	color: #fff;
}

a {
	color: inherit;
	text-decoration: none;

	&.linked { text-decoration: underline }
}

.container {
	margin: 0 auto;
	max-width: $container;
	width: 90%;
}