$primary-color: #3790cf;
$secondary-color: #fff;

$light-blue: #2ec8f7;
$dark-blue: #0a88f7;

$container: 1200px;

$fontFamily: 'Lato', sans-serif;
$text-color: $secondary-color;

$border-radius: 8px;
$sm-beakpoint:  768px;

$header-height: 80px;
